<html>
#include("common/test_header.vm")
<body>
<br/>asdfasdfasdf
asdfasdf<br/>
asdfasdfasfd
#haha('测试宏...')
<br/>asdfasdfsadf<br/>asdfasdfasdf
#parse("common/test_parse.vm")
<br/>asdfasdfsadf
sadfasdfasdfasdf
<br/>jasdfasdf;asdj;fasdkf;kasdf
拦截器调用asdf方法后给的时间参数: ${newdate}
sadjfkas;jdkf;asdkf
asdkjf;kasjd;fksafd
sadjf;kasdfsadf
</body>
</html>